<header>
    <a href="/" id="logo">Bloggers</a>
    <nav>
     
       <ul>
         <%if(status){%>
            <li><a href="/logout">LogOut</a></li>
         <%}else{%>
            <li><a href="/signup">Sign Up</a></li>
            <li><a href="/login">Login</a></li>
         <%}%>
          
         
       </ul>
    </nav>
</header>