<header class="header">
    <a href="/" id="logo">Bloggers</a>
    <nav class="navbar">
     
       <ul>
         <li><a href="#">Home</a></li>
         <li><a href="#">Blogs</a></li>
         <li><a href="#">Contact</a></li>
         <%if(status){%>
            <li><button><a href="/logout">LogOut</a></button></li>
         <%}else{%>
            <li><button><a href="/signup">Sign Up</a></button></li>
            <li><button><a href="/login">Login</a></button></li>
         <%}%>
          
         
       </ul>
    </nav>
</header>