<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= title %></title>
    <link rel="stylesheet" href="./style.css">
    <style>
      #getDateTime {
        display: none;
      }
    </style>
  </head>
  <body>
    <header>
      <a href="/" id="logo">Bloggers</a>
      <nav>
         <ul>
          <li><a href="/signup">Sign Up</a></li>
          <li><a href="/login">Login</a></li>
         </ul>
      </nav>
  </header>
    <div class="form_container">
      <form action="/blogSubmission" method="post">
        <p>
          <input type="text" placeholder="Enter the url of your Image" name="blogImage" id="blogImage">
        </p>
        <p>
          <input type="text" placeholder="Enter the blog title" name="blogTitle" id="blogTitle" />
        </p>
        <p>
          <input type="text" name="blogAuthor" placeholder="Enter the blog Author" id="blogAuthor" />
        </p>
        <p id="getDateTime"></p>
        <p>
          <textarea name="blogBody" id="blogBody" placeholder="Enter the blog body" cols="30" rows="10"></textarea>
        </p>
        <p>
          <input type="submit" value="Create Blog">
        </p>
      </form>
    </div>

    <script>
      let getDateTime = document.getElementById("getDateTime");
      const currentTimeDate = new Date();

      const year = currentTimeDate.getFullYear();
      const month = currentTimeDate.getMonth() + 1;
      const day = currentTimeDate.getDate()
      const hours = currentTimeDate.getHours()
      const minutes = currentTimeDate.getMinutes()
      const seconds = currentTimeDate.getSeconds()

      getDateTime.innerText = `${year}-${month}-${day} ${hours}:${minutes}:${seconds}`
    </script>
  </body>
</html>
