<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <header>
        <a href="/" id="logo">Bloggers</a>
        <nav>
           <ul>
            <li><a href="/signup">Sign Up</a></li>
            <li><a href="/login">Login</a></li>
           </ul>
        </nav>
    </header>
    <div class="form_container">
        <form action="/login" method="post">
            <p>
                <input type="email" placeholder="example@gmail.com" name="email" id="email">
            </p>
            <p>
                <input type="password" placeholder="Enter your password" name="password" id="password">
            </p>
            <p>
                <input type="submit" value="Login">
            </p>
        </form>
    </div>


</body>
</html>