<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./style.css">
</head>
<body>
    <header>
        <a href="/" id="logo">Bloggers</a>
        <nav>
           <ul>
            <li><a href="/signup">Sign Up</a></li>
            <li><a href="/login">Login</a></li>
           </ul>
        </nav>
    </header>
    <div class="form_container">
        <form action="/login" method="post">
            <p>
                <input type="email" placeholder="example@gmail.com" name="email" id="email">
            </p>
            <div style="font-size: 14px; color: red; font-family: cursive;" class="emailError"></div>
            <p>
                <input type="password" placeholder="Enter your password" name="password" id="password">
            </p>
            <div style="font-size: 14px; color: red; font-family: cursive;" class="passwordError"></div>
            <p>
                <input type="submit" value="Login">
            </p>
        </form>
    </div>

    <script>
        const form = document.querySelector('form')
        form.addEventListener('submit', async (e)=> {
            e.preventDefault()
            const email = form.email.value
            const password = form.password.value
            const emailError = document.querySelector('.emailError')
            const passwordError = document.querySelector('.passwordError')

            await fetch('/login', {
                method: "POST",
                headers:{
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({email, password})
            })
            .then(response => {
                response.json()
                .then(data => {
                    if(data.user){
                        location.assign('/')
                    }
                    if(data.error){
                        emailError.textContent = data.error.email
                        passwordError.textContent = data.error.password
                    }
                })
            })
        })
    </script>

</body>
</html>