<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="style.css">
</head>
<body>
    <%- include('partials/navbar.ejs') %>
    <div class="form_container">
        <form action="/signup" method="post">
            <p>
                <input type="email" placeholder="example@gmail.com" name="email" id="email">
            </p>
            <p>
                <input type="password" placeholder="Enter your password" name="password" id="password">
            </p>
            <p>
                <input type="submit" value="Sign Up">
            </p>
        </form>
    </div>
    <%- include('partials/footer.ejs') %>
</body>
</html>